<nav class="barra-menu">
  <ul class="lista-menu">
    <li><a routerLink="/historial" routerLinkActive="activo">Historial</a></li>
    <li><a routerLink="/listas" routerLinkActive="activo">Listas</a></li>
    <li><a routerLink="/plantillas" routerLinkActive="activo">Plantillas</a></li>
    <li><a routerLink="/sistemas" routerLinkActive="activo">Sistemas</a></li>
    <li><a routerLink="/contacto" routerLinkActive="activo">Contacto</a></li>
    <li><a routerLink="/nueva-ventana" routerLinkActive="activo">Nueva Ventana</a></li>
  </ul>
</nav>