<div class="contenedor-historial">
  <h1>HISTORIAL</h1>
  
  <div class="barra-herramientas">
    <div class="paginacion">
      <button class="btn-pag">&lt;</button>
      <span class="numeros">
        <button class="num active">1</button>
        <button class="num">2</button>
        <button class="num">3</button>
        <button class="num">4</button>
        <button class="num">5</button>
        <button class="num">6</button>
        <button class="num">7</button>
        <button class="num">8</button>
        <button class="num">9</button>
        <button class="num">10</button>
        <button class="num">11</button>
        <button class="num">12</button>
        <button class="num">13</button>
        <button class="num">14</button>
        <button class="num">15</button>
        <button class="num">16</button>
        <button class="num">17</button>
        <button class="num">18</button>
        </span>
      <button class="btn-pag">&gt;</button>
    </div>

    <div class="buscador">
      <input type="text" placeholder="Buscar...">
      <button class="btn-buscar">
        🔍
      </button>
    </div>
  </div>

  <div class="tarjeta-informativa">
    <div class="cabecera-tarjeta">
      <div class="iconos-accion">
        <button class="btn-azul-claro"></button>
      </div>
      <span class="titulo-ticket">INFORMATIVO (CRQ000005235754)</span>
    </div>

    <div class="fechas-status">
      <span class="badge rojo">Estandar</span>
      <span class="badge azul">22/04/26 20:00:00</span>
      <span class="badge azul">23/04/26 00:00:00</span>
    </div>

    <div class="secciones-detalles">
      <div class="columna">Sistemas</div>
      <div class="columna">Notificados</div>
      <div class="columna">Soporte</div>
    </div>

    <div class="footer-tarjeta">
      <span class="mini-badge rojo">Terminado</span>
      <span class="mini-badge naranja">Correo enviado</span>
      <div class="iconos-finales">
        <span class="ico-refrescar"></span>
        <span class="ico-check"></span>
      </div>
    </div>
  </div>



  <div class="tarjeta-informativa">
    <div class="cabecera-tarjeta">
      <div class="iconos-accion">
        <button class="btn-azul-claro"></button>
      </div>
      <span class="titulo-ticket">INFORMATIVO (CRQ000005235754)</span>
    </div>

    <div class="fechas-status">
      <span class="badge rojo">Estandar</span>
      <span class="badge azul">22/04/26 20:00:00</span>
      <span class="badge azul">23/04/26 00:00:00</span>
    </div>

    <div class="secciones-detalles">
      <div class="columna">Sistemas</div>
      <div class="columna">Notificados</div>
      <div class="columna">Soporte</div>
    </div>

    <div class="footer-tarjeta">
      <span class="mini-badge rojo">Terminado</span>
      <span class="mini-badge naranja">Correo enviado</span>
      <div class="iconos-finales">
        <span class="ico-refrescar"></span>
        <span class="ico-check"></span>
      </div>
    </div>
  </div>


  <div class="tarjeta-informativa">
    <div class="cabecera-tarjeta">
      <div class="iconos-accion">
        <button class="btn-azul-claro"></button>
      </div>
      <span class="titulo-ticket">INFORMATIVO (CRQ000005235754)</span>
    </div>

    <div class="fechas-status">
      <span class="badge rojo">Estandar</span>
      <span class="badge azul">22/04/26 20:00:00</span>
      <span class="badge azul">23/04/26 00:00:00</span>
    </div>

    <div class="secciones-detalles">
      <div class="columna">Sistemas</div>
      <div class="columna">Notificados</div>
      <div class="columna">Soporte</div>
    </div>

    <div class="footer-tarjeta">
      <span class="mini-badge rojo">Terminado</span>
      <span class="mini-badge naranja">Correo enviado</span>
      <div class="iconos-finales">
        <span class="ico-refrescar"></span>
        <span class="ico-check"></span>
      </div>
    </div>
  </div>
</div>